<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/react/react.min.js"></script>
    <script src="/react-dom/react-dom.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
</head>
<body>
<div class="container">
    {{{ body }}}
    <br class="clear" />
</div>
</body>
</html>