<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/fixed-data-table/fixed-data-table.min.css' />
    <link rel='stylesheet' href='/react-progress-bar-plus/progress-bar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/d3/d3.min.js"></script>
    <script src="/react/react.js"></script>
    <script src="/react/react-with-addons.js"></script>
    <script src="/react-dom/react-dom.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/fixed-data-table/fixed-data-table.min.js"></script>
    <script src="/immutable/immutable.min.js"></script>
    <script src="/react-stockcharts/react-stockcharts.js"></script>
    <script src="/react-bootstrap/react-bootstrap.min.js"></script>
    <script src="/react-progress-bar-plus/react-progress-bar-plus.js"></script>

    <script src="/javascripts/components/check-option-box.js"></script>
    <script src="/javascripts/components/candle-stick-stock.js"></script>
</head>
<body>
<div class="container">
    {{{ body }}}
    <br class="clear" />
</div>
</body>
</html>