body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* For Table */
.fixedDataTableRowLayout_rowWrapper:hover .public_fixedDataTableCell_main {
    background-color: #c7ddef;
}

.row-selected {
    background-color: #c7ddef;
}